---
import Layout from "@layouts/Layout.astro";
import ActiveReminders from "@components/ActiveReminders.astro";
---

<Layout title="Moneo - Active Reminders">
  <div
    id="reminders-container"
    hx-get=`/reminders/refresh?type=active`
    hx-trigger="every 60s"
    hx-swap="outerHTML transition:true"
  >
    <ActiveReminders />
  </div>
</Layout>
