---
import Layout from "@layouts/Layout.astro";
import ExpiredReminders from "@components/ExpiredReminders.astro";
---

<Layout title="Moneo - Expired Reminders">
  <div
    id="reminders-container"
    hx-get=`/reminders/refresh?type=expired`
    hx-trigger="every 60s"
    hx-swap="outerHTML transition:true"
  >
    <ExpiredReminders />
  </div>
</Layout>
