---
export const partial = true;
import ActiveReminders from "@components/ActiveReminders.astro";
import ExpiredReminders from "@components/ExpiredReminders.astro";

const limitParam = Astro.url.searchParams.get("limit");
const limit = limitParam ? parseInt(limitParam) : undefined;
---

<div
  id="reminders-container"
  hx-get="/reminder/refresh"
  hx-trigger="every 60s"
  hx-swap="outerHTML transition:true"
>
  <ActiveReminders limit={limit} />
  <ExpiredReminders limit={limit} />
</div>
