---
export const partial = true;

const orchestratorUrl = import.meta.env.ORCHESTRATOR_URL;
const formData = await Astro.request.formData();

const data = Object.fromEntries(formData.entries());
let orchestrationId: string;

try {
  const res = await fetch(orchestratorUrl, {
    method: "POST",
    body: formData,
  });
  const orchestrationData = await res.json();
  orchestrationId = orchestrationData.id;
} catch (error) {
  console.error(error);
}

---

<li class="flex justify-between gap-4">
  <div class="flex flex-col gap-2">
    <h3>{data.name}</h3>
    <p>{data.description}</p>
  </div>
  <button
    hx-delete=`/partials/reminder/${orchestrationId}`
    hx-target="closest li"
    hx-swap="delete"
    class="items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-slate-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-slate-900 text-slate-50 hover:bg-slate-900/90 h-10 px-4 py-2 flex gap-2 w-fit my-4 lg:my-0 mx-auto"
    >Done</button
  >
</li>
