---
import Header from "./Header.astro";
import NavBar from "./NavBar.astro";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"></script>
    <title>{title ?? 'Moneo'}</title>
    <ViewTransitions />
  </head>
  <body class="bg-slate-950 text-slate-50" hx-boost="true">
    <Header />
    <NavBar />
    <main
      class="w-11/12 md:w-5/6 max-w-6xl mx-auto py-8 text-xs sm:text-sm lg:text-base relative"
    >
      <slot />
    </main>
  </body>
</html>
