---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="/src/js/htmx-1.9.12.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <script src="/src/js/main.js"></script>
    <title>Moneo</title>
  </head>
  <body class="bg-slate-50">
    <main
      class="w-11/12 md:w-5/6 max-w-6xl mx-auto py-8 md:py-12 text-xs sm:text-sm lg:text-base"
    >
      <slot />
    </main>
  </body>
</html>
